<%- include('header'); -%>
 <div class="contact1">
 <p id="contact">Ryan McGee 
  <br> 12 Cross Way, Hull
  <br> 07643 876432
  <br> ryanmcgee@gmail.com
  <br>
 </p>
 </div>
 <div class="contact2">
  <p id="contact">Brian Smith 
   <br> 14 Cross Way, Hull
   <br> 07643 644322
   <br> briansmith@gmail.com
   <br>
  </p>
  </div>
  <div class="contact3">
    <p id="contact">Brenda Smith 
     <br> 14 Cross Way, Hull
     <br> 07643 67328
     <br> brendasmith@gmail.com
     <br>
    </p>
    </div>
    
    <style>
      .contact1 {
        display: inline-block;
      }
      .contact2 {
        text-align: center;
        display: inline-block;
      }
      .contact3 {
        text-align: right;
        display: inline-block;
      }
      </style>
<%- include('footer'); -%>